* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  gap: 4rem;
  justify-items: center;
  margin-top: 4rem;
}

.image-main {
  max-width: 100%;
  display: flex;
}

.logo {
  font-size: 1.5rem;
 justify-content:left;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

#menu :hover{
  background: none;
  border-bottom: 1px solid #e21;
}

.mobile-menu{
  display: none;
}

body, ul{
  margin: 0px;
  padding: 0px;
}

a{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

a:hover{
  background: rgba(0,0,0, .05);
}



/* #header{
 
  padding: 1rem;
  display: flex;
  align-items: center;
 
 
  
 
} */
#header {
  display: flex;
  align-items: center;
  background: #ffffff;
  width: 100%;
  justify-content: center;
}
.header-content {
  height: 70px;
  padding: 1rem;
  gap: 4rem;
  text-transform: uppercase;

  display: flex;
  max-width: 1000px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


#menu{
  display: flex;
  list-style: none;
  gap: .5rem;

}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile{
  display: none;
}



@media (max-width: 600px){

  #menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    display: block;
    height: 0px;
    transition: .6s;
    z-index: 1000; /*serve pra se sobrepor a todos elementos da pg */
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu{
    height: calc(100vh - 70px); /* serve para evitar barra de rolagem nesse caso foi subtraido o valor do top pelo valor vh*/
    visibility: visible;
    overflow-y: auto;
  }

  #menu a{
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 1rem;
  }

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburger{
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor; /* é uma variavel de cor q muda de acordo coma cor do #hamburger */
    margin-top: 5px;
    transition: .3s;
    position: relative; /*deu uma subidinha no tracinho pra formar o X */
  }
  #nav.active #hamburger{
    border-top-color: transparent;
  }
  #nav.active #hamburger::before{
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px; /*deu uma subidinha no tracinho pra formar o X */
}
}


.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}


.introducao {
  background: #fff;
  padding: 2.2rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-items: end;
}


.introducao h1{
  font-size: 2rem;
}


.introducao::before{
  content:"";
  width: 4rem;
  height: 4px;
  background:#e21;
  position: absolute;
  top: 2rem;
  right: -2rem;
}

@media(max-width: 600px) {
  .introducao::before{
    display: none;

  }
}

@media(max-width: 600px) {
  .introducao{
    justify-items: center;
    text-align: center;

  }
}

.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.botao:hover{
  background: #900 ;
}
/* THIS MEDIA WRAP ALL CONTEÚDO FRON HERE FOR UP*/
/* ESTE MEDIA ENVOLVE TODO CONTEÚDO DAQUI PRA CIMA*/
@media(max-width: 600px) {
  .conteudo{
    grid-template-columns: 1fr;
  }
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2rem;
  align-self: center;
  background-image: url(./img/onda.svg);
  word-break: break-all; /*serve pra quebrar palavras*/
}

@media(max-width: 600px){
  .subtitulo{
    text-align: center;
    font-size: 2.5rem;
  }
}

.vantagens {
  background: #fff;
  padding: 3rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item:nth-child(odd){
  background: #f7f7f7;
}

.vantagens-item:hover{
  border-left: 4px solid #e21;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
}

